.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh;
    width: calc(100vw - 4rem);
    margin: 0;
    padding: 0.7rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main-dark-500);
    color: white;
    border-bottom: 1px solid var(--color-main-dark-100);
    z-index: 10000;
}
.navbar a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-main-dark-100);
}
.navbar a:hover {
    color: var(--color-main-dark-250);
    transition: ease;
    transition-delay: 10ms;
}
.navbar-left-menu {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.navbar-sidebar-icon {
    position: relative;
    right: 1.2rem;
    margin: 0 1rem 0 0;
}
.navbar-brand {
    margin-right: 1rem;
}
.navbar-search-bar {
    display: flex;
    align-items: left;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin-left: 1rem;
    
}
.search-bar-input {
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: normal;
}
.navbar-right-menu {
    display: flex;
    flex-direction: row;
}
.navbar-right-menu a {
    margin-right: 1rem;
}

@media  screen and (max-width: 500px) {
    .navbar {
        padding: 1.2rem;
    }
}